<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="title">
         <h1><a href="#"><img src="/{{ directory }}/assets/images/404.png"></a></h1>
      </div>
      <h2 class="subtitle">
        <span><img src="/{{ directory }}/assets/images/signal.png">Oops! The Page you requested was not found!</span>
        <div class="p-top-20">
          <a href="/">Volver al inicio</a>
        </div>

      </h2>
    </div>
  </div>
</section>